@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background:url(shit\ folder/backgroundjpeg.jpg);
    height: 100vh;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 
.title{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: rgb(255, 255, 255);
    font-size: 35px;
    margin-top: 2.5%
}
.wrapper{
    display: flex;
    justify-content: center;     
    align-items: center;   
    background: #050505b4;
    flex-direction: column;
    width: 380px;
    height: 330px;
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, 50%);
    color:azure;
    border-radius: 69px;
}
.wrapper h1 {
    text-align: center;
    font-size: 36px;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    margin: 25px 0;
    height: 40px;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 3px solid rgba(0, 204, 255, 0.486);
    border-radius: 40px;
    font-size: 15px;
    color: #ffff;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
    color:#ffff
}
.input-box i { 
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
}
.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 5px;
}
.remember-forgot label input {
    accent-color: #ffff;
    margin-right: 5px;
}
.remember-forgot a {
    color: #ffff;
    text-decoration: none;
}
.remember-forgot a:hover {
    text-decoration:underline;
}
.wrapper .btn {
    width: 70%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 40px;
    top: 20%;
    left: 22%; transform: translateX(22%);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 19px;
    color: #5e5e5ea4;
    font-weight: 550;
}
.wrapper .register-link {
    font-size: 18px;
    top: 20%;
    left: 22%; transform: translateX(8.5%);
    margin-top: 2.5%;
}
.register-link p a {
    color: #fff;
    text-decoration: none;
}
.register-link p a:hover {
    text-decoration:underline;
}